body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0 50px;
  background-color: #e5e5e5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: #fff;
  width: 700px;
  height: 500px;
  border: 5px solid #2e39ce;
  border-radius: 8px;
  padding: 30px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(62, 79, 231, 0.35);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #2e39ce;
}

#search-button {
  width: 100%;
  background-color: rgba(62, 79, 231, 0.35);
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #2e39ce;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-plus {
  color: white;
  background-color: #2e39ce;
  padding: 3px;
  border-radius: 3px;
}

#search-button input {
  background-color: rgba(191, 194, 221, 0.35);
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;

}

/* .fa-search{
  color: white;
  background-color: #2e39ce;
  padding: 10px 5px;
  border-radius: 3px;
} */
.fa-edit,
.fa-trash {
  color: white;
  background-color: #2e39ce;
  padding: 5px;
  border-radius: 3px;
}

.product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding: 5px;
  
}

.product div {
  border: 3px solid #131eb1;
  background-color: #babde5;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

.product div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

.product div .options i {
  cursor: pointer;
}

.options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#msg {
  color: red;
}


/* <!-- search button -->

        <h5 class=" fw-bold text-center my-3">Search</h5>


        <div id="search-button">
          <form>
            <i class="fas fa-search"></i>
            <input type="text" id="searchInput" placeholder="Search.." onkeyup="search">
          </form>
        </div> */